@import "tailwindcss";

@layer utilities {
  /* CIRCLE / ELLIPSE ORBIT */
  @keyframes orbitCircle {
    0%   { transform: rotate(0deg) translateX(20vw) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(20vw) rotate(-360deg); }
  }

  @keyframes orbitEllipse {
    0%   { transform: rotate(0deg) translateX(30vw) translateY(10vh) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(30vw) translateY(10vh) rotate(-360deg); }
  }

  /* Animation Classes */
  .animate-orbitBlue {
    animation: orbitCircle 30s linear infinite;
  }

  .animate-orbitPink {
    animation: orbitEllipse 38s linear infinite reverse;
  }

  @keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}
}
